h1 {
  font-weight: bold;
  margin: 0;
}
.fastingwrapper {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.fastingtime-box {
  width: 30vw;
  height: 550px;
  border-radius: 10px;
  border: 1px solid rgb(223, 223, 223);
  box-shadow: 4px 8px 8px silver;
}

.fasting-box-component {
  width: 100%;
  height: 100%;
}

.planfasting {
  width: 100%;
  height: 20%;
  /* margin: 20px; */
}

.timefasting {
  margin: 0 auto;
  text-align: center;

  width: 55%;
  height: 60%;
}

.controlfasting {
  width: 100%;
  height: 20%;
}
