.greeting-user {
  margin-left: 200px;
  margin-top: 50px;
}

.reccomment-banner-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 75vh; */
}
.reccomment-banner {
  width: 900px;
}
